@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  background-color: #1c1e1f;
  color: #fff;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Slab', serif;
}
