.container {
  max-width: 1200px;
}

.link {
  color: white;
  outline: none;
}

.button {
  margin-top: 50px;
  padding: 20px 40px;
  background-color: #ff0132;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: filter 300ms ease-in-out;
  border: none;
  outline: none;

  &:hover {
    filter: brightness(80%);
  }
}
