.InstagramFeed {
  margin-top: 40px;
  text-align: center;

  @media (max-width: 801px) {
    margin: 0 20px;
    margin-top: 40px;
  }

  @media (max-width: 600px) {
    margin-top: 20px;

    h1 {
      font-size: 20px;
    }
  }
}

.InstagramFeed-Grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 20px;

  @media (max-width: 600px) {
    width: 95vw;
    margin: 20px auto;
    grid-template-columns: repeat(3, 1fr);

    div {
      &:last-child {
        display: none;
      }
    }
  }
}
